PORT=3000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN=7d

BINDERBYTE_API_KEY=Your_BinderByte_API_Key

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=Your_SMTP_User_Email
SMTP_PASS=Your_SMTP_Password
SMTP_SECURE=false
SMTP_FROM="JagaCilik"

FRONTEND_URL=http://localhost:3000 
RESET_PASSWORD_SECRET="your_jwt_secret_key_here"
RESET_PASSWORD_EXPIRES_IN=15m